{% extends 'base.html' %}
{% block content %}
    <title>新密码设置成功</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'store/css/mobi.css' %}">
    <style>
        .errorlist {
            color: red;
        }
    </style>
    <div class="flex-center">
        <div class="container">
            <div>
                <h3>新密码设置成功</h3>
                <p>
                    你的口令己经设置。现在你可以继续进行登录。
                </p>
            </div>
        </div>
    </div>
{% endblock %}
