<title>关于我们</title>
{% extends 'base.html' %}
{% block content %}
    <br>
    <div class="row">
        <div class="col-sm-12">
            <h2 align="center" id="slogan">- About Us -</h2>
            <p>This is a shopping recommendation system using FP-growth algorithm.It consists of a webstore with an incorporated recommender engine that uses machine learning techniques to provide recommendations to its users</p>
            <p>This project was implemented by :</p>
            <p><b>Zhang ShiHao</b></p>
            <p>For: <b>Beijing Institute Of Petrochemical Technology</b></p>
        </div>
    </div>
{% endblock %}