<title>联系我们</title>
{% extends 'base.html' %}
{% block content %}
    <br>
    <div class="row">
        <div class="col-sm-12">
            <h2 align="center" id="slogan">- Contact Us -</h2>
            <p><b>Mahmoud Abdelazim Ali Eldewaletly (1132702480)</b></p>
            <p>Email Address : 2018310993@bipt.edu.cn</p>
            <p>Phone No : 0132184233</p>
            <p>And under the supervision of :</p>
            <p><b>Zhang ShiHao</b></p>
            <p>For: <b>Beijing Institute Of Petrochemical Technology</b></p>
        </div>
    </div>
{% endblock %}