<title>注册</title>
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'store/css/mobi.css' %}">
    <div class="flex-center">
        <div class="unit-1-2 unit-1-on-mobile">
            <h3 class="form-signin-heading">注册</h3>
            <form class="form" action="{% url 'store:register' %}" method="post">
                {% csrf_token %}
                <p class="pull-left text-danger">
                    {{ form.non_field_errors }}
                </p>
                {% for field in user_form %}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    <p class="text-danger">
                        {{ field.errors.as_text }}
                    </p>
                {% endfor %}
                {% for field in customer_form %}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    <p class="text-danger">
                        {{ field.errors.as_text }}
                    </p>
                {% endfor %}
                <button type="submit" class="btn btn-primary btn-block">注册</button>
            </form>
        </div>
    </div>
{% endblock %}